.header {
	position: fixed;
	width: 100%;
}
.header__newInfo {
	background-color: #fff;
	padding: 1rem;
	text-align: center;
}
.header__infolink {
	color: var(--text-color);
	text-decoration: none;
}
.header__span {
	color: darkorange;
}
.header__nav-section {
	display: flex;
	padding: 1rem;
	justify-content: space-between;
}
